body {
  display: flex;
  flex-direction: column;
  background-color: black;
  font-family: cormorant infant;
  font-weight: 300;
  color: aliceblue;
  overflow-x:hidden;
  align-items:center;
  justify-content: center;
}
#main-section{
  background-image: url('../src/assets/body.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
}