#main-body{
    display: grid;
    justify-items: start;
    justify-content: start;
    margin: 25px;
    margin-top: 70px;
}
#welcome-text{
    font-size: 2rem;
    max-width: 450px;
    color: aliceblue;
}
#button1{
    background-color: transparent;
    border-color: aliceblue;
    border-radius:50px;
    transition: all 0.3s ease;
    font-size: 1.4rem;
}
#button1:hover{
    background-color: aliceblue;
    color: black;
}
